.container {
    display: grid;
    grid-template-areas: 
    "header header header header header"
    ". ui-container . pdf-container ."
    ". . . . .";
    
    grid-template-columns: auto 1fr auto 1fr auto;
}

.uiContainer {
    grid-area: ui-container;
    padding: 1%;
}

.pdfContainer{
    grid-area: pdf-container;
    
    display: flex;
    justify-content: center;
    
}

.description {
    padding-top: 0.75rem
}

.pageHeader {
    margin-bottom: 2rem
}