.container {
    display: grid;
    grid-template-areas: 
    ". . . . ."
    ". ui-container . pdf-container ."
    ". . . . .";
    
    grid-template-columns: auto 1fr auto 1fr auto;
    padding: 1%;
}

.ui-container {
    grid-area: ui-container;
    padding-right: 1%;
}

.pdf-container{
    grid-area: pdf-container;
    
    
   
    
}
