.header {
    background-color: white;

}


.header,
.logo {
    display: flex;
}

.accessibility {
    align-self: flex-end;
}
.font-size {
    display: flex;
}

.logo {
    align-items: center;
    justify-content: center;
}

.slds-checkbox_toggle {
    display: flex;
    justify-content: space-between
}

