.header {
    z-index: 5;
    width: 100%;
    padding-right: 1.5rem !important;
}

.logo {
    padding-right: 1.5rem;
}

.accessibility {
    align-self: flex-end;
}
.header,
.logo,
.font-size {
    display: flex;
}

.logo,
.header-actions {
    align-items: center;
}

.slds-checkbox_toggle {
    justify-content: space-between;
}

.slds-context-bar {
    padding: 1.5rem 0;
}

.accessibility {
    position: relative !important;
}

.header-action-icon {
    margin-right: 0.5rem;
}

.header-action:not(.accessibility) {
    display: flex;            /* new */
     align-items: center;      /* new */
     padding-left: 1.5rem
}
