.container {
    display: grid;
    text-align: center;
    grid-template-areas:
    
    "ui pdf";
        align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.pdf, .pdf * {
    height: 100vh;
    width: 50vw;
    grid-area: pdf
}

.ui {
    grid-area: ui;
    width: 50vw;
    height: 100vh;
}