.container {
    display: grid;
    grid-template-areas: 
    "header header header"
    ". contents ."
    ". . .";
    
    grid-template-columns: 1fr 5fr 1fr;
}

.contents {
    grid-area: contents;
    align-self: center;
  justify-self: center;
  width: 100%;
}