.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "page-header page-header page-header"
    ". cvs . ";

  grid-template-columns: 1rem auto 0.5rem;
}

.page-header {
  grid-area: page-header;
  align-self: center;
  justify-self: center;
  width: 100%;
}

.cvs {
  grid-area: cvs;
}

.cv-actions .slds-button, 
.slds-dropdown-trigger {
  width: 100%;
}

.cv-actions .slds-button + .slds-button {
  margin-left: 0 !important;
 
}

.cv-actions .slds-button:not(:last-child),
.slds-dropdown-trigger {
  margin-bottom: 0.25rem;
}

.slds-grid:last-child {
  margin-right: 0;
}



